.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 16px;
  aspect-ratio: 1/1;
  background-color: #865DFF;
  cursor: pointer;
  max-width: 500px;
  border-radius: 8px;
  height: 100%;
  transition: background-color 0.3s, border-color 0.3s;
  color: white;
}

body .project-card{
  margin: 16px; /* added this line for margin between each card */

}

.project-card:hover {
  background-color: transparent;
  border: 3px solid #E384FF;
  color: #FFA3FD;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.card-text {
  color: white;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
