.css-1xnaaoc-MuiGrid-root {
  width: 100% !important;
  margin-left: 0 !important;
}
.css-1xnaaoc-MuiGrid-root>.MuiGrid-item {
  padding-left: 16px !important;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #DAC0A3;
  cursor: pointer;
  width: 300px; /* Example fixed width */
  height: 400px; /* Example fixed height */
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
  color: #0F2C59;
  overflow: hidden; /* Prevents content from overflowing */

}

body .project-card{
  margin: 16px; /* added this line for margin between each card */
  padding-left: 16px;
}

.project-card:hover {
  background-color: transparent;
  border: 3px solid #0F2C59;
  color: #0F2C59;
}

.card-img {
  max-height: 180px; /* Example maximum height */
  width: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 16px; /* Adjust to ensure spacing between image and text */
}

.card-text {
  color: #0F2C59;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .project-card{
    height: 100%;
  }
}
