.resume {
  margin-top: 100px;
  color: #ffffff;
}

.name {
  color: #4caf50;
  font-size: 48px;
  font-weight: bold;
}

.left-side,
.right-side {
  margin-bottom: 20px;
}

.section-title {
  color: #4caf50;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-title {
  color: #4caf50;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.github-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #1e242a;
  cursor: pointer;
  max-width: 500px;
  border-radius: 8px;
}

.github-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.github-box p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}