.MainPage {
  backdrop-filter: blur(15px);
  background: hsla(0,0%,74%,.3);
  border-radius: 3rem;
  bottom: 5%; /* center it vertically on the bottom */
  transform: translateY(50%); /* compensate for the height of the Navbar */
  left: 50%; /* center it horizontally */
  transform: translateX(-50%) translateY(50%); /* combined transformations */
  position: fixed; /* make it fixed */
  display: flex; /* to help with centering content */
  gap: 0.8rem;
  width: 70%;
  padding: 0.75rem 1.7rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .MainPage {
    width: 20%;
    padding: 0.75rem 1.7rem;
  }

}

.item-num{
  color: white;
}

.link-title{
  opacity: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0F2C59;
  font-size: 1.1rem;
  padding-right: 5%;
}

.icon-style {
  color: #DAC0A3;
}

a {
  color: #0F2C59;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

a:hover {
  color: #0F2C59;
}

a:hover .icon-style,
a:hover .svg-inline--fa {
  color: #DAC0A3;
}

.active .icon-style,
.active .svg-inline--fa {
  color: #0F2C59;
}





