body {
  margin: 0;
  font-family: "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("https://github.com/Lwilliams002/personalweb/blob/master/public/black-background.jpg?raw=truez");*/
  background-color: #EADBC8;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

