.frontPage{
    margin-top: 5%;
    text-align: center;
    color: white;
}
.intro-title{
    font-size: 2.9rem;
    font-weight: 750;
    padding-top: 1%;
}
.intro-title-loop{
    color: #2fff00;
    font-size: 2.9rem;
}
.intro-sum{
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    opacity: 80%;
    width: 75%;
    font-size: 1.1rem;
}
.profile{
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .frontPage{
        margin-top:10%;
    }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .frontPage{
        margin-top: 15%;
        text-align: center;
    }
    .intro-title{
        margin-left:auto;
        margin-right:auto;
    }

}

