.frontPage{
    margin-top: 5%;
    text-align: center;
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .frontPage{
        margin-top:20%;
    }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .frontPage{
        margin-top: 30%;
        text-align: center;
    }
    .profile{
        background-color: white;

        border-radius: 50%;
    }
    .intro-title{
        margin-left:auto;
        margin-right:auto;
    }
    .intro-sum{

    }
}
.name-array{
    color: #2fff00;

}
.intro-title{
    font-size: 2.9rem;
    font-weight: 750;
    padding-top: 1%;
    color: white;
    font-family: Raleway,Helvetica,sans-serif;
}
.intro-title-loop{
    color: #2fff00;
    font-size: 2.9rem;
}
.intro-sum{
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    color: white;
    opacity: 80%;
    width: 75%;
    font-size: 1.1rem;
    font-family: Raleway,Helvetica,sans-serif;

}
.profile{
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    max-width: 30%;
    border-radius: 50%;
}
p{
    text-align: center;
    padding: 5%;
}
